path

numpy
scipy
pandas

matplotlib
seaborn

stemming

tomotopy
gensim
nltk
scikit-learn

# https://umap-learn.readthedocs.io/en/latest/
umap-learn
# trimap isa based on annoy (https://github.com/spotify/annoy)
# can be downloaded from https://www.lfd.uci.edu/~gohlke/pythonlibs/#annoy
# trimap

torch
torchvision
torchaudio

transformers



