# ---------------------------------------------------------------------------
# Standard libraries
# ---------------------------------------------------------------------------
numpy
scipy
pandas


# ---------------------------------------------------------------------------
# Utilities
# ---------------------------------------------------------------------------
path
multimethod
tabulate
tqdm

# html parser
#beautifulsoup4

PyYAML

# ---------------------------------------------------------------------------
# IPython/Jupiter
# ---------------------------------------------------------------------------
ipython
jupyter
notebook


# ---------------------------------------------------------------------------
# IO
# ---------------------------------------------------------------------------
#pyarrow
# fastparquet


# ---------------------------------------------------------------------------
# Plotting
# ---------------------------------------------------------------------------
matplotlib
seaborn


# ---------------------------------------------------------------------------
# Image processing
# ---------------------------------------------------------------------------
pillow

opencv-python

# skimage -> scikit-image
scikit-image
imageio

albumentations


# ---------------------------------------------------------------------------
# scikit-learn
# ---------------------------------------------------------------------------
scikit-learn
xgboost
catboost
#category_encoders
#imbalanced-learn


# ---------------------------------------------------------------------------
# sktime
# ---------------------------------------------------------------------------
#sktime
#pmdarima
#statsmodels


# ---------------------------------------------------------------------------
# Pytorch
# ---------------------------------------------------------------------------
# better to use Python=3.12
# 
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
#
# import torch
# torch.cuda.is_available()
#
#--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
torchtext

# https://lightning.ai/docs/pytorch/stable/
# https://github.com/Lightning-AI/pytorch-lightning
# lightning

# https://skorch.readthedocs.io/en/stable/
# https://github.com/skorch-dev/skorch
skorch


# ---------------------------------------------------------------------------
# Pytorch extensions
# ---------------------------------------------------------------------------

torchmetrics 
torchinfo
transformers_stream_generator
transformer_lens
pytorch_model_summary

# pytorch-forecasting
# pytorch-geometric
# pytorch-geometric-temporal
# torch_geometric

#pytorch-optimizer
#torchao
#q-galore-torch


# ---------------------------------------------------------------------------
# Huggingface
# ---------------------------------------------------------------------------

huggingface_hub
diffusers
transformers
tokenizers

accelerate
safetensors
datasets

bitsandbytes
# peft
# wandb

#evaluate
#trl         # transformer reinforcement learning

# https://github.com/lyogavin/airllm
# airllm


# ---------------------------------------------------------------------------
# Huggingface: sentences
# ---------------------------------------------------------------------------

# https://sbert.net/
# sentence-transformers

# https://github.com/google/sentencepiece
# sentencepiece

# https://github.com/intel/
# intel-extension-for-transformers


# ---------------------------------------------------------------------------
# Utilities
# ---------------------------------------------------------------------------

# https://github.com/arogozhnikov/einops
einops

jaxtyping


# ---------------------------------------------------------------------------
# Tokenizers
# ---------------------------------------------------------------------------

# BPE tokenizer
tiktoken

# Sacremoses tokenizer
# sacremoses


# ---------------------------------------------------------------------------
# Dimensional Reduction
# ---------------------------------------------------------------------------

# https://github.com/spotify/annoy
annoy

# https://github.com/eamid/trimap
# trimap isa based on annoy (https://github.com/spotify/annoy)
# can be downloaded from https://www.cgohlke.com/
trimap

# https://umap-learn.readthedocs.io/en/latest/
umap-learn


# ---------------------------------------------------------------------------
# Suspended
# ---------------------------------------------------------------------------

#
# Other utilities
#
# https://facebookresearch.github.io/xformers/
# xformers
# https://pypi.org/project/omegaconf/
# omegaconf



# https://github.com/Dao-AILab/flash-attention
# Not available in Windows
# flash_attn


# opendatasets
# flwr[simulation]

# https://www.fast.ai/
# fastai


# pycocotools 
# onnxruntime 
# onnx
# skl2onnx


# https://arrayfire.org/arrayfire-python/#
# arrayfire

# https://omegaconf.readthedocs.io/en/2.3_branch/
# omegaconf


# ---------------------------------------------------------------------------
# End
# ---------------------------------------------------------------------------
