absl-py==2.3.1
addict==2.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
anyio==4.11.0
astunparse==1.6.3
attrs==25.4.0
basicsr==1.4.2
bcrypt==5.0.0
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.8.3
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.0
cmake==4.1.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.3
cryptography==46.0.3
cupy-cuda12x==13.6.0
cycler==0.12.1
Cython==3.1.3
deep-sort-realtime==1.3.2
deepface==0.0.95
defusedxml==0.7.1
distro==1.9.0
easydict==1.13
elastic-transport==8.17.1
elasticsearch==8.17.1
facexlib==0.3.0
fastrlock==0.8.3
filelock==3.19.1
filterpy==1.4.5
fire==0.7.1
flake8==7.3.0
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.59.1
fsspec==2025.7.0
future==1.0.0
gast==0.6.0
gdown==5.2.0
gfpgan==1.3.8
google-pasta==0.2.0
grpcio==1.75.1
gunicorn==23.0.0
h11==0.16.0
h5py==3.15.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.10
imageio==2.37.0
insightface==0.7.3
invoke==2.2.1
isort==4.3.21
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
joblib==1.5.1
keras==3.11.3
kiwisolver==1.4.9
lap==0.5.12
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.45.1
lmdb==1.7.3
lz4==4.4.4
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.3
mpmath==1.3.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.5
numba==0.62.1
numpy==2.2.6
ollama==0.6.0
onnx==1.18.0
onnxruntime-gpu==1.22.0
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.1
paramiko==4.0.0
pillow==11.3.0
platformdirs==4.5.0
prettytable==3.16.0
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.11.7
pydantic_core==2.33.2
pyflakes==3.4.0
Pygments==2.19.2
PyNaCl==1.6.0
PyNvVideoCodec==2.0.2
pyparsing==3.2.3
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
realesrgan==0.3.0
requests==2.32.5
retina-face==0.0.17
rich==14.2.0
scikit-build==0.18.1
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.16.1
sentencepiece==0.2.1
setuptools==80.9.0
simsimd==6.5.1
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.3
soupsieve==2.8
stringzilla==3.12.6
supervision==0.26.1
sympy==1.14.0
tb-nightly==2.21.0a20251013
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.1
termcolor==3.1.0
tf_keras==2.20.1
threadpoolctl==3.6.0
tifffile==2025.6.11
torch==2.9.0+cu126
torchreid @ git+https://github.com/KaiyangZhou/deep-person-reid.git@566a56a2cb255f59ba75aa817032621784df546a
torchvision==0.24.0+cu126
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.182
ultralytics-thop==2.0.16
urllib3==2.5.0
uvicorn==0.37.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
yacs==0.1.8
yapf==0.43.0
