#
# Python 3.10
#
#
# https://github.com/jaraco/path
path

# https://pypi.org/project/joblib/
joblib

# https://jsonpickle.github.io/
jsonpickle

#
# Useful libraries
#
# https://numpy.org
numpy

# https://scipy.org/
scipy

# https://pandas.pydata.org/
pandas


# https://matplotlib.org/
matplotlib

# https://seaborn.pydata.org/
seaborn


#
# Gradient Boosting
#
# https://scikit-learn.org/
scikit-learn

# https://www.sktime.org/en/stable/
sktime


# https://lightgbm.readthedocs.io/en/v3.3.2/
lightgbm

# https://xgboost.readthedocs.io/en/stable/
xgboost

# https://catboost.ai/en/docs/concepts/python-quickstart
catboost


#
# Time series libraries
#
# https://facebook.github.io/prophet/
# 1.1.2 has bugs! BETTER 1.1.3
prophet

# https://www.statsmodels.org/stable/index.html (used by sktime)
statsmodels

# http://alkaline-ml.com/pmdarima/ (used by sktime)
pmdarima

# https://pypi.org/project/tbats/
tbats

# https://pypi.org/project/statsforecast/
statsforecast

# https://unit8co.github.io/darts/
# darts


#
# Database drivers
#
# https://www.psycopg.org/
psycopg2
#psycopg[binary]

# https://www.google.com/search?client=firefox-b-d&q=mysql-connector-python
#mysql-connector-python
# mysql-python

# https://www.sqlalchemy.org/
# https://docs.sqlalchemy.org/en/14/dialects/mysql.html
# https://docs.sqlalchemy.org/en/14/dialects/postgresql.html
sqlalchemy


#
# Neural Network (pytorch)
#
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch[cu116]

# https://pytorch.org/
#torch

# https://www.pytorchlightning.ai/
# https://pytorch-lightning.readthedocs.io/en/stable/starter/installation.html
# pytorch-lightning (old)
#lightning

# https://pytorch-forecasting.readthedocs.io/en/stable/
# pytorch-forecasting[mqf2]
# pytorch-forecasting

# https://skorch.readthedocs.io/en/stable/
#skorch


#
# Web interface
#
# https://github.com/humiaozuzu/awesome-flask
#
# https://flask.palletsprojects.com/en/2.2.x/
flask

# https://flask-restx.readthedocs.io/en/latest/
flask-restx

# https://flask-cors.readthedocs.io/en/latest/
flask-cors

# https://flask-sqlalchemy.palletsprojects.com/en/3.0.x/quickstart/
# flask-sqlalchemy

# https://github.com/Pylons/waitress
waitress
