numpy
scipy
matplotlib

# https://arrayfire.com/
arrayfire

# https://docs.cupy.dev/en/stable/index.html
cupy-cuda12x

# https://numba.readthedocs.io/en/stable/
# https://nvidia.github.io/numba-cuda/
numba-cuda

# https://pypi.org/project/pycuda/
pycuda

# https://nvidia.github.io/warp/
warp-lang

# Only Linux
# https://triton-lang.org/main/getting-started/installation.html
# triton

# https://nvidia.github.io/cuda-python/latest/
cuda-python
