numpy
scipy
pandas
matplotlib
seaborn

pillow
opencv-python-headless
cv2-enumerate-cameras


tqdm
joblib



--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
#torchaudio
#torchtext

skorch
pytorch_lightning


scikit-learn
scikit-image


ultralytics
albumentations

