numpy
scipy
pandas

scikit-learn
sktime
category_encoders
imbalanced-learn

matplotlib
seaborn

--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
torchaudio
pytorch-lightning
gpytorch

ipython
jupyter

tabulate
opendatasets
flwr[simulation]

gym
