numpy
scipy
pandas

scikit-learn
sktime
category_encoders

matplotlib
seaborn

--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
torchaudio
pytorch-lightning

ipython
jupyter

tabulate
opendatasets
flwr[simulation]
