# accelerate==0.15.0
# cuda==11.6.1

numpy
pandas
pillow
scipy
scikit-learn

--extra-index-url https://download.pytorch.org/whl/cu116
torch
lightning
torchvision
torchaudio

huggingface_hub
diffusers
transformers
sentence-transformers
sentencepiece
datasets

path

tqdm
