path

pandasai

pandasai-openai
pandasai-local
pandasai-langchain
pandasai-huggingface

pandasai-lancedb
pandasai-chromadb

pandasai-sql[postgres]
pandasai-sql[mysql]

#pandasai-databricks
#pandasai-docker
#-enterprise
#-google
#-qdrant
#-snowflake
#-sql
#-yfinance
#-bedrock
#-bigquery
#-ibm
#-litellm
#-milvus
#-oracle
#-pinecode
#-


